<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="lead">
                Open Source at <a href="https://github.com/TrumpTracker/trumptracker.github.io"> <i class="fa fa-github fa-fw"></i></a>
            </span>
        </div>
    </div>
</div>

<br>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="text-muted">Maintained by <a href="http://virenmohindra.me/" target="_blank">Viren Mohindra</a></p>
            </div>
            <div class="col-md-3">
                <p class="text-muted">Inspired By <a href="https://www.trudeaumetre.ca/" target="_blank" rel="nofollow">TrudeauMetre</a></p>
            </div>
            <div class="col-md-3">
                <p class="text-muted"><a href="https://raw.githubusercontent.com/TrumpTracker/trumptracker.github.io/master/_data/data.yaml" target="_blank" rel="nofollow">Open Data</a></p>

            </div>
            <div class="col-md-3">
                <p class="text-muted"><a href="http://nukewebbed.com/#section-termsandconditions" target="_blank">Privacy Policy and T&amp;C</a></p>
            </div>
        </div>
    </div>
</footer>
